h3 {
    color: #3cae4a;
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    margin-left: 70px;
}

h5 {
    text-align: center;
}

.col-4 {
    margin: 0 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.container .px-4 {
    display: flex;
    list-style: none;
}

.container-1 {
    margin-left: 55px;
}

.container-2 {
    margin-left: 55px;
}

.container-3 {
    margin-left: 55px;
}

.container-4 {
    margin-left: 55px;
}

.pagination {
    margin-left: 205px;
    padding-bottom: 30px;
}

.list_time {
    display: flex;
    list-style: none;
    padding-top: 30px;
}

.grid_list {
    margin: 30px 0;
}

.grid_row {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0 250px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagination a {
    color: #fdfeff;
    float: left;
    padding: 12px 18px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #3caf4b;
    color: white;
    border-radius: 50%;
}

.pagination a:hover:not(.active) {
    background-color: #3caf4b;
    border-radius: 50%;
}