body{
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    color: white;
}
h1{
    font-size: 45px;
    font-weight: 800;;
}
.login{
    margin-top: 30%;
}
input{
    margin-left: 10px;
    width: 50%;
    height:50px;
    border: 0.5 solid white;
    background-color: rgba(85, 83, 83, 0.448);
    color: white;
}
.lbpass{
    margin-top: 15px;;
}
.sdt,
.password{
    margin-left: -10px;
    width: 450px;
}
button{
    margin-top: 10px;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    background-color: #0a6937;
    color: white;
}
.or{
    margin-top: 10px;
    margin-left: 27.5%;;
}
.bi-facebook{
    margin-left: 25%;
    margin-top: 10px;
}
.bi-explicit-fill{
    margin-left: 10px;
    margin-top: 10px;

}
